<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/style.css' %}">
    <title>hehe</title>

</head>
<body>
    <div class='header'>
        <label>ANDREVE</label> &#9 <a class='list-menu-content'>Home</a> <a class='list-menu-content'>About</a>
    </div>

<content>

    {% for blog in all %}
        <li>{{ blog.title }}</li>
    {% endfor %}
</content>
</body>
</html>

